<footer class="mn-global-footer" style="text-align: center; padding: 1.5rem 1rem; font-size: 0.85rem; color: rgba(255,255,255,0.6); border-top: 1px solid rgba(255,255,255,0.08); margin-top: 2rem;">
  Copyright 2026 Liana Banyan Corporation
  &nbsp;|&nbsp;
  <!-- Truth-Always: Universal Prosperity paper ("A considered approach to universal sustained economic prosperity") not yet published in Cephas content. papers/loc/considered-approach/ and save-the-world/paper-1-economic-prosperity/ both exist as empty stubs. Linked to closest available: /articles/why-join-the-cooperative/. Flag for Bishop to create/import the Universal Prosperity paper into Cephas. SEG-V0145-5. -->
  Powered by <img src="/img/icons/notcents.png" alt="NotCents" style="vertical-align: middle; height: 1em; display: inline-block;" /> <a href="/articles/why-join-the-cooperative/" style="color: inherit; text-decoration: underline dotted; text-underline-offset: 3px;">NotCents&trade;</a>
</footer>
